# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Banco de Dados Local SQLite e Variáveis de Ambiente
prisma/*.db
prisma/*.db-journal
.env

# Arquivos de Configuração/Cache de Editores e Ferramentas
.windsurf/
.claude/
.agents/

/src/generated/prisma
