@import "tailwindcss";

:root {
  --primary: #05ABAD;
  --secondary: #026B6D;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;

}

.nav-link {
  position: relative;
  color: white;
  transition: color .3s ease;
  
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;

  width: 0;
  height: 1px;

  background: #ffffffc2;


  transition: width .3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.login-button {
  padding: 6px 24px;
  border-radius: 999px;
  background: #ffffff;
  color: #026B6D;

  font-weight: 600;

  transition: all .3s ease;

  box-shadow:
    0 8px 20px rgba(0,0,0,.08);
}

.login-button:hover {
  background: #026B6D;
  color: white;
  transition: background 0.3s ease, color 0.3s ease;

}
